<!-- about section -->
<section class="section" id="about">
  <!-- title -->
  <div class="section-title">
    <h2 class="uppercase font-bold">
      about <span class="text-indigo-400">us</span>
    </h2>
  </div>
  <!-- end of title -->
  <div class="section-center about-center order-1">
    <!-- about img wrapper -->
    <article class="about-img">
      <img src="../../assets//img/game-day.svg" alt="gaming photo" />
    </article>
    <!-- about info -->
    <article class="about-info">
      <h3>What is <span class="text-indigo-400">CLIPZ </span>?</h3>
      <p>
        <span class="text-indigo-400 italic font-bold">CLIPZ</span> is an online
        video streaming application where you can upload your gaming highlights
        and share them with the world!
      </p>
      <p>
        But it doesn't stop here. You can watch other the highlights of other
        gamers as well. You can share your favorite highlights with your friends
        online.
      </p>
      <a routerLink="/" class="btn bg-indigo-400">Get started</a>
    </article>
  </div>

  <div class="section-center about-center section-2 order-2">
    <!-- about info -->
    <article class="about-info">
      <h3>It is <span class="text-indigo-400">FAST</span> !</h3>
      <p>
        CLIPZ uses the latest and greatest
        <span class="text-red-400">WebAssembly</span> technology under the hood.
        No need to worry about laggy videos.
      </p>
      <p>
        By using <span class="text-green-400 font-bold italic">ffmpeg</span> for
        video processing, there is no room for laggy user experience. Feel the
        <span class="uppercase text-blue-500 font-bold">speed</span>. There is
        no reason to worry about slow video uploads.
      </p>
      <a routerLink="/" class="btn bg-indigo-400">Check it out</a>
    </article>
    <!-- about img wrapper -->
    <article class="about-img">
      <img src="../../assets//img/fast.svg" alt="fast illustration photo" />
    </article>
  </div>
</section>
<div class="section-center about-center order-1">
  <!-- about img wrapper -->
  <article class="about-img">
    <img src="../../assets//img/joystick.svg" alt="gaming photo" />
  </article>
  <!-- about info -->
  <article class="about-info">
    <h3><span class="text-indigo-400">EMBRACE </span> the Community</h3>
    <p>
      Gamers all around the world love
      <span class="text-indigo-400 italic font-bold">CLIPZ</span>
      because of its simplicity. Create an account and join the community.
      <br />
      <br />
      No fees, No Credit Card Information is needed. It's
      <span class="text-green-400 font-bold">FREE</span>!
    </p>
    <p></p>
    <a routerLink="/" class="btn bg-indigo-400">Start Watching</a>
  </article>
</div>
